<a href="https://colab.research.google.com/github/Saurabh6268/Python-Assignments/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 Write a program to create an empty list.

lst=[]
print(lst)

[]

In [ ]:
#2 Create a list using range.

lst=list(range(1,11))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#3 Print the third element of a list.

lst=[5,10,15,20]
print("Third element of list is:",lst[2])

Third element of list is: 15

In [ ]:
#4 Access the last element of a list using negative indexing.

lst=[1,2,3,4,5]
print("Last element is:",lst[-1])

Last element is: 5

In [ ]:
#5 Print the first 3 elements using slicing.

lst=[10,20,30,40,50]
print("First 3 elements are:",lst[0:3])

First 3 elements are: [10, 20, 30]

In [ ]:
#6 Print every second element from the list.

lst=[1,2,3,4,5,6]
print("Every second element will be:",lst[::2])

Every second element will be: [1, 3, 5]

In [ ]:
#7 Change the value at index 1 to 100.

lst=[10,20,30]
lst[1]=100
print("New list:",lst)

New list: [10, 100, 30]

In [ ]:
#8 Concatenate two lists.

lst1=[1,2]
lst2=[3,4]
print("New List:",lst1+lst2)

New List: [1, 2, 3, 4]

In [ ]:
#9 Repeat a list three times.

lst=[1,2]
print("New List:",lst*3)

New List: [1, 2, 1, 2, 1, 2]

In [ ]:
#10 Check if 50 in the list.

lst=[10,20,30,40,50]
print(50 in lst)

True

In [ ]:
#11 Add 60 to the end of the list.

lst=[10,20,30]
lst.append(60)
print("New List:",lst)

New List: [10, 20, 30, 60]

In [ ]:
#12 insert 15 at index 1.

lst=[10,20,30]
lst.insert(1,15)
print("New List:",lst)

New List: [10, 15, 20, 30]

In [ ]:
#13 Add [40,50] to [10,20,30] using extend().

lst=[10,20,30]
lst.extend([40,50])
print("New List:",lst)

New List: [10, 20, 30, 40, 50]

In [ ]:
#14 Remove the first occurence of 20.

lst=[10,20,30,20]
lst.remove(20)
print("New List:",lst)

New List: [10, 30, 20]

In [ ]:
#15 Remove the last item using pop().

lst=[1,2,3]
lst.pop()
print("New List:",lst)

New List: [1, 2]

In [ ]:
#16 Delete the second element.

lst=[10,20,30]
del lst[1]
print("New List:",lst)

New List: [10, 30]

In [ ]:
#17 Remove all elements from the list.

lst=[1,2,3]
lst.clear()
print("New List:",lst)

New List: []

In [ ]:
#18 Find the index of 30.

lst=[10,20,30,40]
print("Index of 30 is:", lst.index(30))

Index of 30 is: 2

In [ ]:
#19 Count how many times 2 occurs.

lst=[1,2,2,3]
print("Occurance of 2:",lst.count(2))

Occurance of 2: 2

In [ ]:
#20 Sort the list in ascending order.

lst=[4,2,7,1]
lst.sort()
print("Sorted List:",lst)

Sorted List: [1, 2, 4, 7]

In [ ]:
#21 Reverse the elements.

lst=[1,2,3]
lst.reverse()
print("Reversed List:",lst)

Reversed List: [3, 2, 1]

In [ ]:
#22 Create a copy of a list.

lst=[1,2,3]
copy_list=lst.copy()
print("Copy of list is:",copy_list)

Copy of list is: [1, 2, 3]

In [ ]:
#23 Use slicing [:] to copy a list.

lst=[5,10,15]
print("Copy of list is:",lst[:])

Copy of list is: [5, 10, 15]

In [ ]:
#24 Create and print a 2D list.

lst_2d=[
         [1,2],
         [3,4],
         [5,6]
       ]
print("2D List is:",lst_2d)

2D List is: [[1, 2], [3, 4], [5, 6]]

In [ ]:
#25 Access 4 from [[1,2],[3,4]].

lst_2d=[[1,2],[3,4]]
print(lst_2d[1][1])

4

In [ ]:
#26 Find the sum of all elements.

lst=[1,2,3,4]
print("Sum of all elements:",sum(lst))

Sum of all elements: 10

In [ ]:
#27 Find the smallest element in a list.

lst=[9,2,8,4]
lst.sort()          #print("Smallest element is:",min(lst))
print("Smallest element is:",lst[0])

Smallest element is: 2

In [ ]:
#28 Find the largest number.

lst=[4,1,9,3]
lst.sort()          #print("Largest Number is:",max(lst))
print("Largest Number is:",lst[-1])

Largest Number is: 9

In [ ]:
#29 Create a list of squares from 1 to 5.

lst=list(range(1,6))
squares=[x**2 for x in lst]
print("List of squares:",squares)

List of squares: [1, 4, 9, 16, 25]

In [ ]:
#30 Extract only even numbers using list comprehension.

lst=[1,2,3,4,5,6]
lst_even=[x for x in lst if x%2==0]
print("Even Numbers:",lst_even)

Even Numbers: [2, 4, 6]

In [ ]:
#31 Convert "hello" into a list.

str_1="hello"
lst=list(str_1)
print("List:",lst)

List: ['h', 'e', 'l', 'l', 'o']

In [ ]:
#32 Convert a sentence into a list of words.

str_1="Python is fun"
lst_words=str_1.split()
print("List of words:",lst_words)

List of words: ['Python', 'is', 'fun']

In [ ]:
#33 Join a list of words into a sentence.

lst_words=['Coding', 'is', 'cool']
str_1=" ".join(lst_words)
print("Sentence is:",str_1)

Sentence is: Coding is cool

In [ ]:
#34 Count vowels in a string.

str_1="OpenAI"
vowels=['a','e','i','o','u','A','E','I','O','U']
count=0
for ch in str_1:
  if ch in vowels:
    count+=1
print("Number of vowels:",count)

Number of vowels: 4

In [ ]:
#35 Check if a string is palindrome.

str_1="madam"
if str_1==str_1[::-1]:
  print("True")
else:
  print("False")

True

In [ ]:
#36 Make each string in the list uppercase.

lst=['hello','world']
upper_lst = [x.upper() for x in lst]
print("Uppercase:",upper_lst)

Uppercase: ['HELLO', 'WORLD']

In [ ]:
#37 Find the sum of even numbers.

lst=[1,2,3,4,5,6]
lst_even=[x for x in lst if x%2==0]
print("Sum of even numbers:",sum(lst_even))

Sum of even numbers: 12

In [ ]:
#38 Extract only numbers from [1,"a",2,"b",3]

mixed_lst=[1,"a",2,"b",3]
numbers = [x for x in mixed_lst if isinstance(x, int)]
print("Numbers are:",numbers)

Numbers are: [1, 2, 3]

In [ ]:
#39 Convert string digits to list of integers.

str_1="12345"
int_list = [int(x) for x in str_1]
print("List of integers:",int_list)

List of integers: [1, 2, 3, 4, 5]

In [ ]:
#40 Compare sum of digits in two strings

str_1="123"
str_2="321"
sum1 = sum(int(x) for x in str_1)
sum2 = sum(int(x) for x in str_2)

if sum1 == sum2:
  print("Equal")
else:
  print("Not equal")

Equal